:root {
  --background: aqua;
  --nav-bar: blueviolet;
}
html {
  scroll-behavior: smooth; 
}

header {
  display: flex;
  flex-flow: row-reverse;
  width: 100%;
  background-color: blueviolet;
  border-bottom: 5px dashed black;
  height: auto;

  
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: aqua;
}

article {
  display: flex;
}

li:not(:last-of-type) {
  margin-right: 40px;
}

Li {
  font-size: 41px;
 
}

ul {
  display: flex;
}

main { 
  font-size: 95px;
  font-weight: 200;
  padding-top: 150px;
  
}

h2 {
  text-align: center;
  font-size: 75px;
  justify-content: center;
  padding: 100px;
  padding-bottom: 30px;
  

}

span {
  border-bottom: 3px dashed black;
}
.projects p {
  max-width: 50%
}
.nav-pop {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-right:0;
  margin-top: 50px;
  justify-content: space-between;
}

.besides {
  justify-content: space-around;
}

.projects { 
  margin: 50px;
  max-width: 100%;
  height: auto;
  
}

.b-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  margin-top: 15px;
}
.b-nav li{
  display: flex;
  font-size: 34px;
}

.project-1 {
  display:flex
}

.project-2 {
  display: flex;
  margin-top: 20px;
}

.project-3 {
  display: flex;
  margin-top: 20px;
}

.project-2 a {
  order: 2;
}
#avatar { 
  justify-content: flex-end;
  width: 90px;
  border-radius: 50%;
  border: 0;
  margin: 20px;
  height: 90px;
  padding-bottom: 20;
  /* position: fixed; */
  background-color: var(--background);
}



/* #avatar:hover .nav-pop {
  display: block;
  flex-wrap: wrap;
  margin: 0;
  margin-right: 100px;
  margin-top: 50px;
  justify-content: space-between;
} */

#about {
  display: flex;
  font-size: 26px;
  text-align: center;
 justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}
#name {
  margin-left: 5%;
  text-align: center;
  margin-top: 35px;
  flex-wrap: nowrap;
}

#project-1-img {
  display: flex;
  flex: auto;

}

#project-2-img {
  display: flex;
  flex: auto;


 /* flex-shrink: 1; */
}

#project-3-img {
  display: flex;
  flex: auto;
  text-align: center;
  justify-content: center;
  
}
#project-1-desc, #project-3-desc {
/* float: right; */
flex-wrap: nowrap;
justify-content: center;
align-items: center;
padding: 150px;
font-size: 20px;
}
#project-2-desc {
 flex-direction: row-reverse;
justify-content: center;
align-items: center;
padding: 150px;
font-size: 20px;
}


@media screen and (max-width: 992px) {
   
  }

/* changing flex direction to column so that text shows beneath images */
@media screen and (max-width: 762px) {
  .project-1 { 
    flex-direction: column;
    text-align: center;
  }
  .project-2 { 
    flex-direction: column-reverse;
  }
  .project-3 { 
    flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  .project-1  {
    flex-direction: column;
    padding-right: 15px;
    align-items: center;
  } 
  .project-2  {
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
  } 
  .project-3  {
    flex-direction: column;
    text-align: center;
    align-items: center;
  } 
}